.advantage-head {
  background-color: @bg-color;
  font-family: "PT Sans", "Verdana", sans-serif;
  color: @color-white;
}

.advantage-head__head {
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  padding: 0;
}
