.advantage-head {
  background-color: rgb(129, 179, 210);
  font-family: "PT Sans", "Verdana", sans-serif;
  color: rgb(255, 255, 255);
}

.advantage-head__head {
  font-size: 18px;
  line-height: 26px;
}
