.advantage {
  outline: 2px solid green;
  font-family: "PT Sans", "Verdana", sans-serif;

  font-size: 14px;
  line-height: 21px;

  text-transform: uppercase;
}

.advantage--short {
  background-color: rgb(238, 238, 238);
}

.advantage__head {
  font-size: 18px;
  line-height: 26px;
}
