.advantage {
  outline: 2px solid green;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.advantage--short {
  background-color: @bg-color-gray;
  padding: 30px 20px;
}

.advantage__head {
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  padding: 0;
}

.advantage__text {
  margin: 0;
  padding: 0;
}
