.btn {
  outline: 2px solid purple;

  background-color: rgb(129, 179, 210);

  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-family: "PT Sans", "Verdana", sans-serif;

  font-size: 21px;
  line-height: 26px;

  text-decoration: none;
}
