.btn {
  background-color: @bg-color;
  color: @color-white;
  text-transform: uppercase;
  font-family: "PT Sans", "Verdana", sans-serif;
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  &:hover {
    background-color: @bg-color-hover;
  };
  &:active {
    background-color: @bg-color-active;
    color: @bg-color-white-translucent;
  };
  &:disabled {
    background-color: @bg-color-disabled;
  };
}
