.facts {
  font-size: 14px;
  line-height: 21px;
}

.facts__item {
  padding: 40px 20px;
  box-sizing: border-box;
  outline: 2px solid lightblue;
  svg {
    display: inline-block;
    vertical-align: top;
  }
}

.facts__text {
  margin: 0;
  padding: 0;
  padding-left: 50px;
}

.facts__text--title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 5px;
  padding-left: 16px;
  display: inline-block;
  vertical-align: middle;
}

.facts__text--title--souvenir {
  padding-left: 20px;
}

.facts__text--title--food {
  padding-left: 14px;
}

@media @tablet-widths {

  .facts {
    display: flex;
    flex-wrap: wrap;
  }

  .facts__item {
    width: 256px;
    min-height: 256px;
    text-align: center;
  }

  .facts__item--icon-souvenir {
    order: 1;
  }

  .facts__text {
    padding-left: 0;
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
  }

  .facts__text--title {
    padding-left: 0;
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }

  .facts__icon--house {
    width: 75px;
    height: 72px;
  }

  .facts__icon--food {
    width: 77px;
    height: 68px;
    margin-tio: 4px;
  }

  .facts__icon--souvenir {
    width: 64px;
    height: 75px;
    margin: -4px;
  }

}

@media @desktop-widths {

  .facts__item {
    width: 400px;
    min-height: 256px;
  }

  .facts__text {
    width: 265px;
  }

  .facts__text--title {
    width: 100%;
  }

}
