.facts {
  font-size: 14px;
  line-height: 21px;
}

.facts__item {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  svg {
    display: inline-block;
    vertical-align: top;
  }
}

.facts__item--icon-souvenir,
.facts__item--icon-food {
  padding-top: 22px;
}

.facts__item--icon-food {
  margin-bottom: 40px;
}

.facts__text {
  margin: 0;
  padding: 0;
  padding-left: 50px;
}

.facts__text--title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  margin-bottom: 14px;
  margin-top: 5px;
  padding-left: 8px;
  display: inline-block;
  vertical-align: middle;
}

.facts__icon {
  fill: @bg-color;
}

.facts__text--title-souvenir {
  padding-left: 15px;
}

.facts__text--title-food {
  padding-left: 8px;
}

@media @tablet-widths {

  .facts {
    display: flex;
    flex-wrap: wrap;
  }

  .facts__item {
    width: 256px;
    min-height: 256px;
    text-align: center;
  }

  .facts__item--icon-souvenir {
    order: 1;
  }

  .facts__text {
    padding-left: 0;
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-bottom: 60px;
  }

  .facts__text--title {
    padding-left: 0;
    margin-top: 24px;
    width: 100%;
    text-align: center;
    font-size: 21px;
    margin-bottom: 22px;
  }

  .facts__text--title-souvenir,
  .facts__text--title-food {
    margin-top: 30px;
  }

  .facts__icon {
    margin-top: 30px;
  }

  .facts__icon--house {
    width: 75px;
    height: 72px;
  }

  .facts__icon--food {
    width: 77px;
    height: 68px;
    margin-top: 38px;
  }

  .facts__icon--souvenir {
    width: 64px;
    height: 75px;
  }

  .facts__item--icon-food {
    margin-bottom: 0;
  }

}

@media @desktop-widths {

  .facts {
    padding-bottom: 20px;
  }

  .facts__item {
    width: 400px;
    min-height: 256px;
  }

  .facts__text {
    width: 265px;
  }

  .facts__text--title {
    width: 100%;
  }

  .facts__text--food {
    width: 285px;
  }

}
