.feedback-intro {
  outline: 2px solid orange;
  color: @color-gray;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 40px 20px 20px;
}

.feedback-intro__text {
  margin: 0;
  padding: 0;
}

.feedback-intro__texto--title {
  font-size: 18px;
  line-height: 26px;
  color: @color-black;
  margin: 0;
  padding: 0;
}

@media @tablet-widths {

  .feedback-intro {
    display: flex;
    flex-direction: column;
  }

  .feedback-intro__text {
    display: inline-block;
    vertical-align: center;
    width: 455px;
    margin: 0 auto;
    text-align: center;
  }

}

/*@media @desktop-widths {

}*/
