.feedback-index {
  font-size: 14px;
  line-height: 24px;
  outline: 2px solid pink;
  text-transform: uppercase;
  color: @color-gray;
  padding: 30px 20px 50px;
}

.feedback-index__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: @color-black;
  margin: 0;
  padding: 0;
}

.feedback-index__text {
  margin: 0;
  padding: 0;
}
