.feedback-intro {
  outline: 2px solid orange;
  font-family: "PT Sans", "Verdana", sans-serif;
  color: rgb(51, 51, 51);

  font-size: 14px;
  line-height: 24px;

  text-transform: uppercase;
}

.feedback-intro__title {
  font-size: 18px;
  line-height: 26px;

  color: rgb(0, 0, 0);
}


