.form-group {
  outline: 2px solid violet;
  font-family: "PT Sans", "Verdana", sans-serif;
  color: rgb(51, 51, 51);

  font-size: 14px;
  line-height: 24px;

  text-transform: uppercase;
}

.form-group__title {
  font-size: 18px;
  line-height: 26px;

  font-weight: bold;
}

.form-group__label--non-transform {
  text-transform: none;
}
