.intro {
  background-color: rgb(255, 255, 255);
  outline: 2px solid blue;
  font-family: "PT Sans", "Verdana", sans-serif;
}

.intro__text {
  font-size: 14px;
  line-height: 18px;
  color: rgb(51, 51, 51);
  text-transform: uppercase;
}

.intro__text--title {
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-size: 18px;
  line-height: 26px;
}

.intro__background-image {
  width: 320px;
  height: 260px;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  border: 2px solid red;
}
