.main-nav {
  background-color: @bg-color-white;
  outline: 2px solid gray;
}

.main-nav__list {
  margin: 0;
  padding:0;
}

.main-nav__item {
  background-color: @bg-color;
  list-style: none;
}

.main-nav__link {
  color: @color-white;
  text-transform: uppercase;
  font-family: "PT Sans", "Verdana", sans-serif;
  text-decoration: none;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
}
