.page-footer {
  font-size: 14px;
  line-height: 26px;
  outline: 2px solid lightgreen;
  text-transform: uppercase;
  padding: 40px 20px 35px;
}

.page-footer__tag {
  font-size: 21px;
  line-height: 26px;
  color: @color-black;
  text-decoration: none;
}

.page-footer__text {
  margin: 0;
  padding: 0;
}

.page-footer__social-list {
  margin: 0;
  padding:0;
}
