.page-footer {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 35px 20px 35px;
}

.page-footer__text {
  margin: 0;
  padding: 0;
}

.page-footer__social-list {
  margin: 0;
  padding:0;
  margin-bottom: 25px;
}

.page-footer__developer-info-item {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

.page-footer--item {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;
}

.page-footer__tag {
  font-size: 21px;
  line-height: 26px;
  color: @color-black;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 35px;
}

@media @tablet-widths {

  .page-footer {
    display: flex;
    justify-content: space-around;
    padding: 35px 0;
  }

  .page-footer__tag {
    margin-bottom: auto;
    margin-top: auto;
  }

  .page-footer__social-list {
    margin-bottom: 0;
  }

}

@media @desktop-widths {

  .page-footer {
    justify-content: space-between;
  }

  .page-footer--item {
    width: auto;
  }

  .page-footer__tag {
    margin: auto 0;
    padding-left: 130px;
  }

  .page-footer__site-developer {
    margin-right: 40px;
    margin-left: 90px;
  }

}
