.photo-intro {
  outline: 2px solid blue;
  font-size: 14px;
  line-height: 24px;
  color: @color-gray;
  text-transform: uppercase;
  padding: 40px 20px 30px;
}

.photo-intro__title {
  font-size: 18px;
  line-height: 26px;
  color: @color-black;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.photo-intro__text {
  margin: 0;
  padding: 0;
}
