.photo {
  outline: 2px solid green;
  font-family: "PT Sans", "Verdana", sans-serif;
  color: @color-gray;
  font-size: 14px;
  line-height: 24px;
}

.photo__title {
  color: @color-black;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.photo__likes-counter {
  color: @color-white;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}
