.photo {
  outline: 2px solid green;
  color: @color-gray;
  font-size: 14px;
  line-height: 24px;
  padding: 23px 20px;
  box-sizing: border-box;
  border-bottom: 1px solid @border-color-lightgray;
}

.photo__title {
  color: @color-black;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.photo__likes-counter {
  color: @color-black;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 40px;
}

.photo__author {
  margin: 0;
  padding: 0;
}

@media @tablet-widths {

  .photo {
    border-bottom: none;
  }

  .photo--main {
    margin-left: 60px;
    margin-right: 60px;
    width: 648px;
    min-height: 400px;
  }

  .photo--secondary {
    display: inline-block;
    vertical-align: top;
    width: 324px;
    min-height: 347px;
  }

  .photo--secondary:nth-child(2n-1) {
    margin-left: 60px;
  }

  .photo--secondary:nth-child(2n) {
    margin-right: 60px;
  }

  .photo__description {
    position: relative;
  }

  .photo__likes-counter {
    position: absolute;
    right: 0;
    bottom: 10px;
  }

}

@media @desktop-widths {

  .photo {
    padding: 0;
  }

  .photo--main {
    margin-left: 0;
    margin-right: 0;
    width: 1200px;
    min-height: 400px;
  }

  .photo--secondary {
    display: inline-block;
    vertical-align: top;
    width: 400px;
    min-height: 268px;
    margin: 0;
  }

  .photo--secondary:nth-child(2n-1) {
    margin-left: 0;
  }

  .photo--secondary:nth-child(2n) {
    margin-right: 0;
  }

  .photo__description {
    padding: 20px;
  }

  .photo__likes-counter {
    bottom: 25px;
    right: 10px;
  }

}
