.pop-up-submision {
  color: @color-gray;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
}

.pop-up-submision__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.pop-up-submision__text {
  margin: 0;
  padding: 0;
}

.pop-up-submision_btn {
  border: none;
  box-shadow: none;
  width: 280px;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
}

.pop-up-submision_btn--short {
  width: 180px;
}

.pop-up-submision__text-field {
  padding-top: 38px;
  padding-left: 52px;
  padding-right: 52px;
  padding-bottom: 38px;
  background-color: @bg-color-gray;
}

.pop-up-submision__btn-field {
  padding-top: 20px;
  padding-bottom: 20px;
}
