.pop-up-submision {
  outline: 2px solid blue;
  font-family: "PT Sans", "Verdana", sans-serif;
  color: rgb(51, 51, 51);

  font-size: 14px;
  line-height: 24px;

  text-transform: uppercase;
}

.pop-up-submision__title {
  font-size: 18px;
  line-height: 26px;

  font-weight: bold;
}
