.toggler--open {
  display: block;
  height: 4px;
  width: 23px;
  background-color: @bg-color;
  border: none;
  box-shadow: none;
  &::before,
  &::after {
    content: "";
    display: block;
    height: 4px;
    width: 23px;
    background-color: @bg-color;
  };
  &::before {
    transform: translateY(-9px);
  };
  &::after {
    transform: translateY(4.5px);
  }
}

.toggler__close::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: 3px;
  width: 24px;
  height: 24px;
  border-left: 3.5px solid rgb(255, 255, 255);
  transform: rotate(45deg);
}

.toggler__close::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: 19px;
  width: 24px;
  height: 24px;
  border-right: 3.5px solid rgb(255, 255, 255);
  transform: rotate(-45deg);
}
