.video {
  outline: 2px solid green;
  font-family: "PT Sans", "Verdana", sans-serif;
  color: rgb(51, 51, 51);
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.video__title {
  font-size: 18px;
  line-height: 26px;
  color: rgb(0, 0, 0);
}
